<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/connexion.css"/>


  <title>Connexion Lemonade-Face-Off</title>
</head>
<body>
<p id="titre">Bienvenue sur Lemonade-Face-Off</p>
  <div class="login">
    <h1>Identifiant</h1>
    <input type="text" placeholder="Mon identifiant" required="required" id="name" maxlength="50" pattern="[A-Za-z]{50}" title="Maximum 50 caractères A-Z ou a-z (pas de caractères spéciaux)"/>
    <button type="submit" class="btn btn-primary btn-block btn-large" id="connect">Connexion</button>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="static/js/requete.js"></script>

<script>
$(function(){

  var server='http://limonade-equipe7.herokuapp.com';

  $("#connect").on('click',function(){
    $.ajax(server+'/players',{
      method:'POST',
      data:JSON.stringify({
        "name": $("#name").val(),
      }),
      contentType: "application/json",
      success: function(name){
        $('#name').val();
        document.location='jeu.html?name='+$('#name').val();
      },
      error: function(error){
        console.log(JSON.stringify({
          "name": $("#name").val(),
        }))
        console.log(error.error);
      }
    })
  })


});
</script>

</html>
